*{
	margin:0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

body{
	background-color: #FBF8F8;
	display: flex;
	justify-content:center;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	min-height: 100vh;
}

.row{
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.wrapper{
	position: relative;
}

.banner-container{
	width: 100%;
    border: 8px solid red;
    border-radius: 2em;
    overflow: hidden;
    background: red;
    z-index: 2;
     -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.16), 1px 1px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.16), 1px 1px 10px 0 rgba(0, 0, 0, 0.12);


}


.banner-header{
	font-weight: bold;
	color: #fff;
	letter-spacing: 0.2em;
	padding-right: 25px;
}

.banner-header h1{
	font-weight: bold;
	font-family: sans-serif;
	font-size: 32px;
	text-align: center;
}

.banner-t1, .banner-t2{
	font-size: 1.2em;
}

.banner-body{
	background-color: #fff;
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
}

.banner-footer{
	margin-top: 5px;
	margin-bottom : 5px;
}

.banner-footer button{
	font-weight: bold !important;
}

.list-mensajes{
	text-align: justify;
	padding: 5px;
	margin-top: 10px;
	letter-spacing: 0.015px;
	line-height: 22px;
	font-size: 12px;
}

.list-mensajes ul{
	margin-left: 5px;
}

.list-mensajes h3{
	font-size: 18px;
}

.list-mensajes li{
	margin-bottom: 10px;
}

.list-mensajes i{
   color: rgb(245, 25, 25);
}

.image-logo{
	width: 200px;
	margin-top: 10px;
}

.banner-image-content{
	position: absolute;
	top: 0;
	left: 0;
    /*left: 15%;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%); */
    z-index: 100;
    display: none
}

.banner-image{
	background-image: url('../images/banner-fraude.png');
	/*position: absolute;*/
	height: 100%;
	width: 400px;
	background-size: cover;
	background-repeat: no-repeat;
}


@media (min-width: 547px){
	.image-logo{
	margin-top: 10px;
	padding-left: 5px;
	}

}


@media (min-width: 768px) { 
	.banner-header h1{
		font-size: 34px;
	}

	.image-logo{
	margin-top: 0px;
	padding-left: 5px;
	}

	.banner-container{
		border-radius: 3em;
	}

	.banner-body{
	padding-top: 20px;
	padding-bottom: 20px;
	}

	.list-mensajes{
		font-size: 13px;
	}

	.list-mensajes ul{
		margin-left: 10px;
	}

	.list-mensajes h3{
		font-size: 20px;
	}

	.banner-footer{
	margin-top: 8px;
	margin-bottom : 8px;
	}

}


@media (min-width: 992px) { 

	.image-logo{
		width: 250px;
		padding-left: 35px;
	}


	.banner-header{
		text-align: right;
	}
	.banner-header h1{
		font-size: 38px;
		text-align: right;
	}

	.banner-container{
		border-radius: 4em;
	}

	.list-mensajes h3{
		font-size: 24px;
	}

	.banner-footer{
	margin-top: 10px;
	margin-bottom : 10px;
}

	.list-mensajes{
		font-size: 14px;
		
	}

	.list-mensajes ul{
		margin-left: 20px;
	}

	.banner-body{
	padding-top: 35px;
	padding-bottom: 35px;
	}

	.banner-image-content{
		display: block;
	}

	.banner-image{
		width: 400px;
		background-position: 99%;
	}

}


@media (min-width: 1200px){
	
	.banner-header{
		padding: 5px;
	}

	.banner-header h1{
		font-size: 45px;
		margin-top: 12px;
	}



	.banner-footer{
	margin-top: 12px;
	margin-bottom : 10px;
	}


	.banner-image{
		width: 500px;
		background-position: top center;
	}

}